.root {
    flex-grow: 1;
    margin-top: 50px;
    padding: 50px;
    text-align: center;
}

.media {
    height: 0;
    padding-top: 56.25%;
}

@font-face {
    font-family: 'headers';
    src: url('../fonts/sanspro/SourceSansPro-Regular.ttf');
}

.card {
    font-family:'headers';
    max-width: 300px;
    height: 450px;
    margin: auto;
}

.headings {
    margin-bottom: 50px;
}

#about_section {
    text-align: center;
    padding-top: 50px;
}
