.root {
    flex-grow: 1;
    margin-top: 50px;
    padding: 50px;
    text-align: center;
}

.media {
    height: 0;
    padding-top: 56.25%;
}

@font-face {
    font-family: 'headers';
    src: url('../fonts/sanspro/SourceSansPro-Regular.ttf');
}

.card {
    font-family:'headers';
    max-width: 320px;
    height: 400px;
    margin: auto;
    background-color: #FDF8F5;
}

.card_comp {
    background-color: #FDF8F5;
}

.headings {
    margin-bottom: 50px;
}