#about_section {
    color: black;
    text-align: center;
    background-color: #f2efe2;
    padding: 50px;
}

#intro {
    text-align: justify;
}

#profile {
    margin-top: 20px;
    width: 200px; 
    height: 200px;
}