body {
  background-color: #363538;
  font-family: 'Alegreya', serif;
}

#projects {
  background-color: white;
}

.background{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  min-height:80vh;
}

.App {
  color:white;
  margin: auto;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


